<div class="page-content">
  <h1>Les smiley :)</h1>
  <div style="display:flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;">
      <div *ngFor="let smiley of smileys" class="mat-app-background mat-elevation-z4" style="padding:0 8px;margin:8px;border-radius:4px;">
        {{ smiley.name }}
        <button mat-icon-button class="copybtn" attr.data-clipboard-text="{{smiley.val}}" aria-label="Copy smiley" [ngSwitch]="smiley.copy" (click)="smiley.copy=true">
          <mat-icon *ngSwitchCase="true" style="pointer-events: none;">assignment_turned_in</mat-icon>
          <mat-icon *ngSwitchCase="false" style="pointer-events: none;">assignment</mat-icon>
        </button>
      </div>
  </div>
  <div>
    <h1>Tester le smiley :</h1>
    <div>
      <mat-label>Coller le smiley ici :</mat-label><br>
      <textarea matInput class="mat-app-background mat-elevation-z4" style="border-radius:4px;" maxlength="2000" rows="5" [(ngModel)]="text"></textarea>
    </div>
    <h4>Le résultat : <pre style="font: 400 13.3333px Arial;">{{ text }}</pre></h4>
  </div>
</div>
