.serveroff{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 0px black;
    position: absolute;
    right: 8px;
    top: 8px;
}
.serveron{
    width: 35px;
    height: 35px;
    background-color: green;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 0px black;
    position: absolute;
    right: 8px;
    top: 8px;
}