.example-spacer {
  flex: 1 1 auto;
}

.main-drawer-container {
  height: calc(100% - 64px);
}

@media (max-width: 599px) {
  .main-drawer-container {
    height: calc(100% - 56px);
  }
}

.active {
  background-color: #eee;
}
