<div class="page-content">
  <h1>Tuto de connexion au serveur ark :</h1>
  <div class="mat-elevation-z4" style="background:#fff;padding:8px;border-radius:4px;">
    <p>Si vous n'arrivez pas à vous connecter au serveur ark le tuto suivant est pour vous.</p>
    <p>Pour commencer cliquez sur "afficher" (1) puis sur "serveurs" (2).</p>
    <img src="/assets/img/addFavServer1.png" style="margin: auto; max-width: 100%;">
    <p>Une fenêtre s'ouvre cliquer sur l'onglet "favoris" (3).</p>
    <p>Ensuite cliquez sur le bouton "ajouter un serveur" (4) en bas à droite. </p>
    <p>Une fenêtre s'ouvre renseigner si l'adresse IP du serveur (5) puis cliquez sur le bouton "ajouter cette adresse
      au favoris" (6)</p>
    <img src="/assets/img/addFavServer2.png" style="margin: auto; max-width: 100%;">
    <p>Maintenant que le serveur est ajouté vous pouvez vous connecter en cliquant sur le bouton "se connecter" (7)</p>
    <p>Cliquer sur "rejoindre la partie", entrer le mot de passe (8) puis cliquez sur "connecter" (9)</p>
    <img src="/assets/img/addFavServer3.png" style="margin: auto; max-width: 100%;">
    <p>En espérant que ce tuto vous a été utile.</p>
  </div>
</div>
